---
layout: work_queue_andy
title: Current Application
permalink: /andy/currentapp/
---

<div class="container-fluid">
    <div class="row">
        <<div class="col-sm-5 col-md-4 sidebar">
            <ul class="nav nav-sidebar">

                {% include andy_register.html %}

            </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 main">
            <h1>Current application</h1>

            <!--in the future there may be different includes based on the condition of the type of
            application being processed-->

            {% include andy_charge_input.html %}

        </div>
    </div>
</div>