---
layout: work_queue_andy
title: Get Work
permalink: /andy/confirmsimple/
---

<h1 style="text-align:center">Register updates</h1>

<div class="row" style="padding-left:20%; padding-right:20%; font-size:150%">
    {% include andy_b_reg_updated.html %}

    <hr/>

    {% include andy_c_reg_updated.html %}
</div>

<div class="row" style="text-align:center">
    <div>
        <h2>
            <a href="{{ site.baseurl }}/andy/getwork/" class="btn btn-lg btn-default">
                Confirm and Complete Application<i class="fa fa-angle-double-right"></i>
            </a>
            <a href="{{ site.baseurl }}/andy/supersimple/" class="btn btn-lg btn-warning">
                Cancel <i class="fa fa-angle-double-right"></i>
            </a>
        </h2>
    </div>
</div>