---
layout: work_queue_andy
title: Get Work
permalink: /andy/confirmapp/
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 sidebar">
            <ul class="nav nav-sidebar">

                {% include andy_register_updated.html %}

            </ul>
        </div>
        <div class="col-md-7 col-md-offset-5 main">
            <!--in the future there may be different includes based on the condition of the type of
            application being processed-->

            {% include andy_charge_confirm.html %}

        </div>
    </div>
</div>

