<div style="font-family: courier new">

    <h2>C: Charges Register</h2>
    <h4>CITY OF PLYMOUTH</h4>

    <p>
        <strong>1    </strong>
        (14.02.2015) A Transfer of the freehold estate in the land in this title and other land dated
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="14 July 1881">
        <br/>
        made between (1)
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="the Cult of Yith">
        <br/>
        and (2)
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="The Dread Cthulhu">
        <br/>
        contains restrictive covenants.
    </p>
    <p>
        NOTE: Copy filed under
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="DN123456">
    </p>
</div>