<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#a-reg" aria-controls="home" role="tab" data-toggle="tab">A Register</a></li>
        <li role="presentation"><a href="#b-reg" aria-controls="profile" role="tab" data-toggle="tab">B Register</a></li>
        <li role="presentation"><a href="#c-reg" aria-controls="messages" role="tab" data-toggle="tab">C Register</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- The contents of these three tabs will eventually be loaded dynamically but for now are hardcoded-->
        <div role="tabpanel" class="tab-pane fade in active" id="a-reg">{% include andy_a_reg.html %}</div>
        <div role="tabpanel" class="tab-pane fade" id="b-reg">{% include andy_b_reg.html %}</div>
        <div role="tabpanel" class="tab-pane fade" id="c-reg">{% include andy_c_reg.html %}</div>
    </div>

</div>

