<div class="row" style="font-size:large;padding-right: 10px;padding-left: 10px">

    <p>
        <a name="borrowerName"></a><h2>Borrower name help</h2>
        This field is the name of the borrower. <br/>
        It should match the name of the proprietor/s on the B register. <br/>
        If the name from the application does not match the name on the register, check the evidence provided as a change
        of name may have occurred. If no evidence was provided to support the change of name, the a requisition may be
        required from the party who lodged the application. <br/>
        Sometimes the system may present data as differing if there is a whitespace discrepancy, in which case it must be decided on a
        case-by-case basis whether to correct or ignore the input data, or to raise a requisition with the party who submitted the
        application.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="borrowerAddress"></a><h2>Borrower address help</h2>
        This field is the address of the borrower, also known as the address for service. <br/>
        It should match the address of the proprietor on the B register. <br/>
        If the address from the application does not match the address on the register, a requisition for data may be required. <br/>
        Sometimes the system may present data as differing if there is a whitespace discrepancy, in which case it must be decided on a
        case-by-case basis whether to correct the input data or raise a requisition with the party who submitted the
        application.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="borrowerUKCompany"></a><h2>Borrower UK Company help</h2>
        This field contains the name of the UK Company to which the borrower belongs, if appropriate.<br/>
        If this field is empty and is not red, then borrower does not belong to a UK Company and the field is correct.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the data held on the
        register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="borrowerOverseas"></a><h2>Borrower overseas territory help</h2>
        This field contains the name of the overseas territory to which the borrower belongs, if appropriate.<br/>
        If this field is empty and is not red, then borrower does not belong to an overseas territory and the field is correct.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the data held on the
        register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="borrowerUKCompanyNo"></a><h2>Borrower UK company number help</h2>
        This field contains the number of the UK Company to which the borrower belongs, if appropriate.<br/>
        If this field is empty and is not red, then borrower does not belong to a UK Company and the field is correct.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the data held on the
        register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="dateOfCharge"></a><h2>Date of charge help</h2>
        This field contains the date of the charge.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the data held on the
        register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/>

    <p>
        <a name="lenderName"></a><h2>Lender name help</h2>
        This field is the name of the lender.<br/>
        There may be restrictions on the C register which may prevent this lender from being valid.<br/>
        If the field is red then there is a need to check the register to determine the issue with the lender name, and
        it must be decided on a case-by-case basis whether to correct the input data or raise a requisition with the party
        who submitted the application.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="lenderAddress"></a><h2>Lender address help</h2>
        This field contains the address of the lender.<br/>
        There may be restrictions on the C register which may prevent this lender from being valid.<br/>
        If the field is red then there is a need to check the register to determine the issue with the
        lender name, and it must be decided on a case-by-case basis whether to correct the input data or raise a
        requisition with the party who submitted the application.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="lenderUKCompany"></a><h2>Lender UK Company help</h2>
        This field contains the name of the UK Company to which the lender belongs, if appropriate.<br/>
        If this field is empty and is not red, then lender does not belong to a UK Company and the field is correct.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the
        data held on the register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="lenderOverseas"></a><h2>Lender overseas territory help</h2>
        This field contains the name of the overseas territory to which the lender belongs, if appropriate.<br/>
        If this field is empty and is not red, then lender does not belong to an overseas territory and the field is correct.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the
        data held on the register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="lenderUKCompanyNo"></a><h2>Lender UK company number help</h2>
        This field contains the number of the UK Company to which the lender belongs, if appropriate.<br/>
        If this field is empty and is not red, then lender does not belong to a UK Company and the field is correct.<br/>
        If the field is coloured red then there is a discrepancy between the data received in the application and the
        data held on the register.<br/>
        In this case it will be necessary to determine the discrepancy and raise a requisition if required.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="propertyAddress"></a><h2>Property address help</h2>
        This field contains the address of the property on which the charge is to be applied.<br/>
        It should match the address on the A register.<br/>
        If the address from the application does not match the address on the register, a requisition for data may be required.<br/>
        Sometimes the system may present data as differing if there is a whitespace discrepancy, or if there are minor
        differences between the data from the application and the data on the register. In this case it must be decided on a
        case-by-case basis whether to correct the input data or raise a requisition with the party who submitted the
        application.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <p>
        <a name="propertyTitleNo"></a><h2>Property title number help</h2>
        This field contains the title number of the property on which the charge is to be applied.<br/>
        It should match the title number on the B (?) register.<br/>
        If the title number from the application does not match the title number on the register, a requisition for data may be required. <br/>
        Sometimes the system may present data as differing if there is a whitespace discrepancy, in which case it must be decided on a
        case-by-case basis whether to correct the input data or raise a requisition with the party who submitted the
        application.
    </p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/>

    <!--<p>
        <a name="chargeValue"></a><h2>Charge value help</h2>
        This field contains the value of the charge to be applied to the C register<br/>
        If this field is empty but a fee has been provided, check that the fee is a valid value. If it is, then the
        application is acceptable without a charge value. If the fee is not a valid value then a requisition will
        need to be raised to determine the charge value and therefore the correct fee value.
    </p>

    <p>
        <a name="Fee"></a><h2>Fee help</h2>
        This field contains the value of the fee associated to this application.<br/>
        If a charge value has been provided, then the fee can be calculated by clicking the "calculate fee" button.<br/>
        If a charge value has not been provided, then the application may be accepted as long as this fee is a valid
        value.<br/>
        If neither a charge value nor a fee have been provided then a requisition will need to be raised with the
        submitting party.
    </p>-->

</div>