<div style="font-family: courier new">

    <h2>C: Charges Register</h2>
    <h4>CITY OF PLYMOUTH</h4>

    <p>
        <strong>1    </strong>
        (15.10.2012) REGISTERED CHARGE dated 15 October 2012
    </p>

    <p>
        <strong>2    </strong>
        (15.10.2012) Proprietor: #LLOYDS BANK PLC# of Lloyds House, London, NW1 1AA.
    </p>

    <p style="color:blue">
        <strong>3    </strong>
        (25.03.2015) REGISTERED CHARGE dated 25 March 2015
    </p>

    <p style="color:blue">
        <strong>4    </strong>
        (25.03.2015) Proprietor: #LLOYDS BANK PLC# of Lloyds House, London, NW1 1AA.
    </p>
</div>