<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transaction details</h3>
        </div>
        <div class="panel-body">
            <p>
                On <strong>14th July 2015</strong>, <strong>Lloyds Bank PLC</strong> of <strong>Lloyds House, London, NW1
                1AA</strong>, loaned <strong>£40,000</strong>
                to <strong>Barry Edgar Cheese</strong> and <strong>Emily Lily Cake</strong>, secured against the property
                <strong>42 Awesome Close, Smashingtown, AW35 0ME</strong>, registered under title number <strong>DN123456</strong>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseBuyer" style="text-decoration:none">
            <div class="panel-heading appDetails">
                <h4 class="panel-title">
                    Borrower information
                </h4>
            </div>
        </a>

        <div id="collapseBuyer" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:250px">
                            <strong>Borrower name</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" disabled style="color:#AAAAAA; width:75%" value="Barry Edgar Cheese, Emily Lily Cake">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>UK Company if applicable</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA; width:75%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Overseas territory if applicable</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA; width:75%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>UK Company number if applicable</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Date of charge</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA" value="14/07/2015">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseLender" style="text-decoration:none">
            <div class="panel-heading appDetails">
                <h4 class="panel-title">
                    Lender information
                </h4>
            </div>
        </a>

        <div id="collapseLender" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:250px">
                            <strong>Lender name</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" disabled style="color:#AAAAAA; width:75%" value="Lloyds Bank PLC">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Lender address</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="width:100%; color:#AAAAAA" value="Lloyds House, London, NW1 1AA">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>UK Company if applicable</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA; width:75%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Overseas territory if applicable</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA; width:75%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>UK Company number if applicable</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseProperty" style="text-decoration:none">
            <div class="panel-heading appDetails">
                <h4 class="panel-title">
                    Property information
                </h4>
            </div>
        </a>

        <div id="collapseProperty" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:250px">
                            <strong>Address of the property</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" disabled style="color:#AAAAAA; width:100%;" value="42 Awesome Close, Smashingtown, AW35 0ME">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Title number</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA" value="DN123456">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseFee" style="text-decoration:none">
            <div class="panel-heading appDetails">
                <h4 class="panel-title">
                    Fee information
                </h4>
            </div>
        </a>

        <div id="collapseFee" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:250px">
                            <strong>Value of the charge</strong>
                        </td>
                        <td style="width:180px">
                            <input type="text" disabled style="color:#AAAAAA" value="£40,000">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fee applied to the charge</strong>
                        </td>
                        <td>
                            <input type="text" id="feeBox" disabled style="color:#AAAAAA" value="£20.00">
                        </td>
                        <td style="width:250px">
                            <input type="button" disabled class="btn-xs btn-default" value="Calculate fee" onClick="document.getElementById('feeBox').value='£20.00'">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <h2>
            <a href="{{ site.baseurl }}/andy/getwork/" class="btn btn-lg btn-default">
                Complete application <i class="fa fa-angle-double-right"></i>
            </a>
            <a href="{{ site.baseurl }}/andy/standover/" class="btn btn-lg btn-default">
                Standover application <i class="fa fa-angle-double-right"></i>
            </a>
            <a href="{{ site.baseurl }}/andy/reassign/" class="btn btn-lg btn-default">
                Reassign application <i class="fa fa-angle-double-right"></i>
            </a>
        </h2>
    </div>
</div>