<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Transaction details</h3>
        </div>
        <div class="panel-body">
            <p>
                On <strong>14th July 2015</strong>, <strong>Lloyds Bank PLC of Lloyds House, London, NW1
                1AA</strong>, loaned <strong>£40,000</strong>
                to <strong>Barry Edgar Cheese</strong> and <strong>Emily Lily Cake</strong>, secured against the property
                <strong>42 Awesome Close, Smashingtown, AW35 0ME</strong>, registered under title number <strong>DN123456</strong>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseBuyer">
            <div class="panel-heading appDetails appDetails-ok">
                <h4 class="panel-title">
                    Buyer information
                </h4>
            </div>
        </a>

        <div id="collapseBuyer" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:150px">
                            <strong>Buyer name</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" disabled style="color:#AAAAAA" value="Barry Cheese">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Proprietor address</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="width:100%; color:#AAAAAA" value="23 Sandwich Road, Plymouth, PL1 234">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Date of transfer</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA" value="25/04/2015">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseLender">
            <div class="panel-heading appDetails appDetails-ok">
                <h4 class="panel-title">
                    Lender information
                </h4>
            </div>
        </a>

        <div id="collapseLender" class="panel-collapse collapse">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:150px">
                            <strong>Lender name</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" disabled style="color:#AAAAAA" value="Bank of Inglund">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Lender address</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="width:100%; color:#AAAAAA" value="1 Bank Road, Moneytown, Cheshire, BN$ £££">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Property value</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA" value="£250,000">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseProperty">
            <div class="panel-heading appDetails appDetails-bad">
                <h4 class="panel-title">
                    Property information
                </h4>
            </div>
        </a>

        <div id="collapseProperty" class="panel-collapse collapse in">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:150px">
                            <strong>Address</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" disabled style="width:100%; color:#AAAAAA" value="42 Awesome Close, Smashingtown, AW35 0ME">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Previous owner</strong>
                        </td>
                        <td>
                            <input type="text" disabled style="color:#AAAAAA" value="Edward Bacon">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Property age</strong>
                        </td>
                        <td>
                            <input type="text" style="background-color:#FFAAAA">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseFee">
            <div class="panel-heading appDetails appDetails-bad">
                <h4 class="panel-title">
                    Fee information
                </h4>
            </div>
        </a>

        <div id="collapseFee" class="panel-collapse collapse in">
            <div class="panel-body">
                <table>
                    <tr>
                        <td style="width:150px">
                            <strong>Charge value</strong>
                        </td>
                        <td style="width:500px">
                            <input type="text" style="background-color:#FFAAAA">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fee</strong>
                        </td>
                        <td>
                            <input type="text" style="background-color:#FFAAAA">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <h2>
            <a href="{{ site.baseurl }}/andy/getwork/" class="btn btn-lg btn-default">
                Complete application <i class="fa fa-angle-double-right"></i>
            </a>
            <a href="{{ site.baseurl }}/andy/standover/" class="btn btn-lg btn-warning">
                Standover application <i class="fa fa-angle-double-right"></i>
            </a>
        </h2>
    </div>
</div>