<table class="table table-striped" style="text-align:left; width:600px" align="center">
    <thead>
    <tr>
        <th style="width:60%">case</th>
        <th style="text-align:center; width:25%">digitally completed</th>
        <th style="text-align:center; width:15%">action</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>AP1217 - charge</td>
        <td style="text-align:center"><i class="fa fa-check" style="color:green"></i></td>
        <td style="text-align:center">
            <a href="{{ site.baseurl }}/andy/currentapp2/">
                <button type="button" class="btn btn-sm btn-primary">process</button>
            </a>
        </td>
    </tr>

    <tr>
        <td>AW4269 - charge</td>
        <td style="text-align:center"><i class="fa fa-times" style="color:red"></i></td>
        <td style="text-align:center">
            <a href="{{ site.baseurl }}/andy/currentapp2/">
                <button type="button" class="btn btn-sm btn-primary">process</button>
            </a>
        </td>
    </tr>

    <tr>
        <td>DN12345 - charge</td>
        <td style="text-align:center"><i class="fa fa-check" style="color:green"></i></td>
        <td style="text-align:center">
            <a href="{{ site.baseurl }}/andy/currentapp2/">
                <button type="button" class="btn btn-sm btn-primary">process</button>
            </a>
        </td>
    </tr>

    <tr>
        <td>DN111001 - charge</td>
        <td style="text-align:center"><i class="fa fa-check" style="color:green"></i></td>
        <td style="text-align:center">
            <a href="{{ site.baseurl }}/andy/currentapp2/">
                <button type="button" class="btn btn-sm btn-primary">process</button>
            </a>
        </td>
    </tr>

    <tr>
        <td>XP342 - charge</td>
        <td style="text-align:center"><i class="fa fa-times" style="color:red"></i></td>
        <td style="text-align:center">
            <a href="{{ site.baseurl }}/andy/currentapp2/">
                <button type="button" class="btn btn-sm btn-primary">process</button>
            </a>
        </td>
    </tr>

    </tbody>
</table>
