<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#ev1" aria-controls="ev1" role="tab" data-toggle="tab">Driving
            license</a></li>
        <li role="presentation"><a href="#ev2" aria-controls="ev2" role="tab" data-toggle="tab">Marriage certificate</a>
        </li>
        <li role="presentation"><a href="#ev3" aria-controls="ev3" role="tab" data-toggle="tab">Passport</a></li>
    </ul>
    <div class="tab-content">
        <!-- The contents of these three tabs will eventually be loaded dynamically but for now are hardcoded-->
        <div role="tabpanel" class="tab-pane fade in active" id="ev1" style="padding-left:5px; padding-right:5px">
            <a href="{{ site.baseurl }}/evidence/ev1.jpg" target="_blank">
                <img src="{{ site.baseurl }}/evidence/ev1.jpg" style="width:100%">
            </a>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="ev2" style="padding-left:5px; padding-right:5px">
            <a href="{{ site.baseurl }}/evidence/ev2.jpg" target="_blank">
                <img src="{{ site.baseurl }}/evidence/ev2.jpg" style="width:100%">
            </a>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="ev3" style="padding-left:5px; padding-right:5px">
            <a href="{{ site.baseurl }}/evidence/ev3.jpg" target="_blank">
                <img src="{{ site.baseurl }}/evidence/ev3.jpg" style="width:100%">
            </a>
        </div>
    </div>
</div>

