<div class="s-reg-header">

    <div class="col-md-12">
        <h1>
            Summary of title <span style="background-color:white; color:#bbbbbb">DN123456</span>
        </h1>

        <p>
            This register was last changed on <strong>15 October 2012</strong> at <strong>11:21:18</strong>
        </p>

        <hr/>
    </div>

    <div class="col-md-12" style="font-size:x-large">
        15a Plymouth Road<br/>
        Exeter<br/>
        EX1 4PP<br/>
        <hr/>
    </div>

    <div style="font-size:initial">

        <div class="col-md-3">Owner(s)</div>
        <div class="col-md-offset-3"><strong>Reuben Charles Brand, Hilda Oliver</strong></div>

        <div class="col-md-3">Lender(s)</div>
        <div class="col-md-offset-3"><strong>Lloyds Bank PLC</strong></div>

        <div class="col-md-3">Tenure type</div>
        <div class="col-md-offset-3"><strong>Leasehold</strong></div>

        <div class="col-md-3">Price paid</div>
        <div class="col-md-offset-3"><strong>&pound;234,850 on 15 October 2012</strong></div>

        <div class="col-md-3">Title quality</div>
        <div class="col-md-offset-3"><strong>Absolute</strong></div>
        <br/>
    </div>
    <br/>

</div>

<div style="padding-left:10px; padding-right:10px">


    <div>
        <h2>Property details</h2>

        <p>
            The Leasehold land shown edged with red on the title plan filed at the Registry and being 15a Plymouth Road, Exeter, EX1 4PP.
        </p>

        <p style="color:#999999">
            Ordnance Survey map reference SU4112SW scale 1:1250
        </p>

        <img src="{{ site.baseurl }}/images/title-plan.png" alt="Title pan of HP725748">
    </div>

    <div>
        <div>
            <h3>Lease details</h3>

            <div class="col-md-3">Date:</div>
            <div class="col-md-offset-3">13 October 2012</div>

            <div class="col-md-3">Term:</div>
            <div class="col-md-offset-3">99 years</div>

            <div class="col-md-3">Rent:</div>
            <div class="col-md-offset-3">n/a</div>

            <div class="col-md-3">Parties:</div>
            <div class="col-md-offset-3">Reuben Charles Brand</div>

            <div class="col-md-3"></div>
            <div class="col-md-offset-3">Hilda Oliver</div>
            &nbsp;
        </div>

        <div>
            <h3>Owner(s)</h3>

            <div class="col-md-12">Reuben Charles Brand, Hilda Oliver</div>
            <div class="col-md-12">23 Mannamead Road</div>
            <div class="col-md-12">Plymouth</div>
            <div class="col-md-12">PL1 2BB</div>
            <div class="col-md-12"><span style="color:#999999">The owners have absolute title</span></div>
            &nbsp;
        </div>

        <div>
            <h3>Lenders</h3>

            <div class="col-md-12">Lloyds Bank PLC</div>
            <div class="col-md-12">Lloyds House</div>
            <div class="col-md-12">London</div>
            <div class="col-md-12">NW1 1AA</div>
            <div class="col-md-12"><span style="color:#999999">Registered charge dated 3 October 2012</span></div>
            &nbsp;
        </div>

    </div>

    <div>
        <h2>Things that affect this property</h2>
    </div>

    <div>
        <h4>Restrictions: <button type="button" class="btn btn-sm btn-default" onclick="showBReg();">View in register</button></h4>

        <ol class="items">
            <li>
                <p>[NO RESTRICTIONS]</p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Restrictive covenants: <button type="button" class="btn btn-sm btn-default" onclick="showCReg();">View in register</button></h4>

        <ol class="items">
            <li>
                <p>[NO COVENANTS]</p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Easements: <button type="button" class="btn btn-sm btn-default" onclick="showAReg();">View in register</button></h4>

        <ol class="items">
            <li>
                <p>[NO EASEMENTS]</p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Provisions: <button type="button" class="btn btn-sm btn-default" onclick="showAReg();">View in register</button></h4>

        <ol class="items">
            <li>
                <p>[NO PROVISIONS]</p>
            </li>
        </ol>
        &nbsp;
    </div>
</div>