<h4>Click images to enlarge</h4>
<table>
    <!--<tr style="height:60px">
        <td style="width:200px">
            Driving license
        </td>
        <td>
            <a href="{{ site.baseurl }}/images/ev1.jpg" target="_blank">
                <img src="{{ site.baseurl }}/images/ev1.jpg" style="height:50px">
            </a>
        </td>
    </tr>-->
    <tr style="height:60px">

        <td>
            Marriage certificate
        </td>
        <td>
            <a href="{{ site.baseurl }}/images/marcertnew.gif" target="_blank">
                <img src="{{ site.baseurl }}/images/marcertnew.gif" style="height:50px">
            </a>
        </td>
    </tr>
    <!--<tr style="height:60px">

        <td>
            Passport
        </td>
        <td>
            <a href="{{ site.baseurl }}/images/ev3.jpg" target="_blank">
                <img src="{{ site.baseurl }}/images/ev3.jpg" style="height:50px">
            </a>
        </td>
    </tr>-->
</table>