<!--<div class="panel-group" id="accordion">-->
    <div class="panel panel-default">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBuyer" >
            <div class="panel-heading" style="background-color:green; color:white">
                <h4 class="panel-title">
                    Buyer information
                </h4>
            </div>
        </a>
        <div id="collapseBuyer" class="panel-collapse collapse">
            <div class="panel-body">
                <p>buyer stuff</a></p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:green; color:white">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseLender">Lender information</a>
            </h4>
        </div>
        <div id="collapseLender" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Lender stuff</a></p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:red; color:white">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseProperty">Property information</a>
            </h4>
        </div>
        <div id="collapseProperty" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>This is the property information, it is incomplete and requires some input</p>
            </div>
        </div>
    </div>
<!--</div>-->

<div>
    <h2>
        <a href="{{ site.baseurl }}/andy/getwork/">
            <button type="button" class="btn btn-lg btn-default">Complete application<i class="fa fa-angle-double-right"></i></button>
        </a>
    </h2>
</div>
