<div class="row" style="text-align:center">
    <div>
        <h2>
            <a href="{{ site.baseurl }}/andy/completeapp/" class="btn btn-lg btn-info">
                Example of digitally completed application <i class="fa fa-angle-double-right"></i>
            </a>
        </h2>
    </div>
</div>
<div class="row" style="text-align:center">
    <div>
        <h2>
            <a href="{{ site.baseurl }}/andy/incompleteapp/" class="btn btn-lg btn-info">
                Example of application not digitally completed <i class="fa fa-angle-double-right"></i>
            </a>
        </h2>
    </div>
</div>