<div style="background-color:#005fa3; color:white; font-size:large; padding-left:15px; padding-right: 15px">

    <div class="col-md-12">
        <h1>
            Summary of title <span style="background-color:white; color:#005fa3">DN123456</span>
        </h1>

        <p>
            This register was last changed on <strong>15 October 2012</strong> at <strong>11:21:18</strong>
        </p>

        <hr/>
    </div>

    <div class="col-md-12" style="font-size:x-large">
        <div>816 Lovecraft Close</div>
        <div>Arkham</div>
        <div>AK4 7PP</div>
        <hr/>
    </div>

    <div style="font-size:initial">

        <div class="col-md-3">Owner(s)</div>
        <div class="col-md-offset-3"><strong>Barry Edgar Cheese, Emily Lily Cake</strong></div>

        <div class="col-md-3">Lender(s)</div>
        <div class="col-md-offset-3"><strong>Lloyds Bank PLC</strong></div>

        <div class="col-md-3">Tenure type</div>
        <div class="col-md-offset-3"><strong>Leasehold</strong></div>

        <div class="col-md-3">Price paid</div>
        <div class="col-md-offset-3"><strong>&pound;234,850 on 31 October 2010</strong></div>

        <div class="col-md-3">Title quality</div>
        <div class="col-md-offset-3"><strong>Absolute</strong></div>

    </div>
    <br/>

</div><!-- end summary -->

<div style="padding-left:10px; padding-right:10px">


    <div>
        <h2>Property details</h2>

        <p>
            The Leasehold land shown edged with red on the title plan filed at the Registry and being 816 Lovecraft Close,
            Arkham, AK4 7PP.
        </p>

        <p style="color:#999999">
            Ordnance Survey map reference SU4112SW scale 1:1250
        </p>

        <img src="{{ site.baseurl }}/images/title-plan.png" alt="Title pan of HP725748">
    </div>

    <div>
        <div>
            <h3>Lease details</h3>

            <div class="col-md-3">Date:</div>
            <div class="col-md-offset-3">13 March 2015</div>

            <div class="col-md-3">Term:</div>
            <div class="col-md-offset-3">99 years</div>

            <div class="col-md-3">Rent:</div>
            <div class="col-md-offset-3">n/a</div>

            <div class="col-md-3">Parties:</div>
            <div class="col-md-offset-3">Barry Edgar Cheese</div>

            <div class="col-md-3"></div>
            <div class="col-md-offset-3">Emily Lily Cake</div>
            &nbsp;
        </div>

        <div>
            <h3>Owner(s)</h3>

            <div class="col-md-12">Barry Edgar Cheese, Emily Lily Cake</div>
            <div class="col-md-12">23 Sandwich Road</div>
            <div class="col-md-12">Plymouth</div>
            <div class="col-md-12">PL1 234</div>
            <div class="col-md-12"><span style="color:#999999">The owners have absolute title</span></div>
            &nbsp;
        </div>

        <div>
            <h3>Lenders</h3>

            <div class="col-md-12">Lloyds Bank PLC</div>
            <div class="col-md-12">Lloyds House</div>
            <div class="col-md-12">London</div>
            <div class="col-md-12">NW1 1AA</div>
            <div class="col-md-12"><span style="color:#999999">Registered charge dated 3 October 2012</span></div>
            &nbsp;
        </div>

    </div>

    <div>
        <h2>Things that affect this property</h2>
    </div>

    <div>
        <h4>Restrictions:<br/>conditions for changing this register</h4>

        <ol class="items">
            <li>
                <p>This property may not be transferred to any third party or have any charge applied to
                    it without the express permission of <strong>BARRY EDGAR CHEESE or EMILY LILY CAKE</strong>. Unless
                    they've died, in which case, you know, it's probably too late to ask them so just go ahead I guess.</p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Restrictive covenants:<br>what the land can’t be used for</h4>

        <ol class="items">
            <li>
                <p>A Transfer of the freehold estate in the land in this title and other land dated 14 July 1881 made
                    between (1) the Cult of Yith and (2) The Dread Cthulhu contains restrictive covenants.
                </p>
                <p>
                    NOTE: Copy filed under DN123456</p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Easements:<br>rights of way</h4>

        <ol class="items">
            <li>
                <p>The title includes any legal easements referred to in clause LR11.1 of the registered lease but is
                    subject to any rights that are granted or reserved by the lease and affect the registered land.
                </p>
                <p>
                    NOTE: The right granted at clause (3) of the second schedule is included in this registration only in so far as the
                    Private Accessway falls within title DN123456
                </p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Provisions:<br>other legal issues affecting this land</h4>

        <ol class="items">
            <li>
                <p>A conveyance of the freehold estate in the land in this title and other land dated 13th October 1878 made
                    between (1) Arkham Mansions and Outbuildings (Vendors) and (2) The Cult of Yith (Purchaser) contains the
                    following provision:-
                </p>
                <p>
                    "Please do not perform ritual sacrifice on this land without the proper permission forms, signed in triplicate.
                    Doing so displeases our dread lord Cthulhu."</p>
            </li>
        </ol>
        &nbsp;
    </div>

    <div>
        <h4>Changes to this title</h4>

        <p>
            View <a href="#">pending and historical</a> changes to this title</a>
        </p>
        &nbsp;
    </div>

    <div>
        <h4>Related properties</h4>

        <div class="panel-indent footnote">
            <p>For example, a related property could be the freehold building which contains several leasehold
                flats.</p>
        </div>

        <ul>
            <li><a href="#">Freehold register for 3 Mandela Way, title number DT3572811</a></li>
        </ul>
        &nbsp;
    </div>
</div>