<div style="font-family: courier new">

    <h2>C: Charges Register</h2>
    <h4>CITY OF PLYMOUTH</h4>

    <p>
        <strong>1    </strong>
        (14.02.2015) The land is subject to the following rights reserved by a Transfer of the freehold estate in the land
        in this title and other land dated
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="14 July 1981">
        <br/>
        made between (1)
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="the Devon and Cornwall Police Authority">
        <br/>
        (Vendors) and (2)
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="Devon County Council">
        <br/>
        (Purchaser):-
    </p>
    <p>
        "EXCEPTING AND RESERVING the rights and easements unto the Vendor set out in the Third Schedule
    </p>
    <p style="text-align:center">
        THE THIRD SCHEDULE
    </p>
    <p>
        1. A right of support for the said adjoining land of the Vendor from the land hereby transferred".
    </p>
    <p>
        NOTE: The adjoining land of the Vendor lies to the South of the land in this title
    </p>

    <p>
        <strong>2    </strong>
        (14.02.2015) A Transfer of the freehold estate in the land in this title and other land dated 14 July 1981 made
        between (1)
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="the League of Robots">
        <br/>
        and (2)
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="Planet Express Delivery Company">
        <br/>
        contains restrictive covenants.
    </p>
    <p>
        NOTE: Copy filed under
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="DN12356">
    </p>

    <p>
        <strong>3    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="nunc eros">
        <br/>
        , imperdiet vitae facilisis eu, lobortis vitae lorem.
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="Mauris et diam eros">
        <br/>
        . Fusce ac posuere nisi. Sed ut pharetra velit, ac malesuada leo. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <p>
        <strong>4    </strong>
        (14.02.2015)
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="Lorem ipsum dolor sit amet">
        <br/>
        , consectetur adipiscing elit. Praesent nunc eros, imperdiet vitae facilisis
        eu, lobortis vitae lorem. Mauris et diam eros. Fusce ac posuere nisi. Sed ut pharetra velit, ac malesuada leo. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <p>
        <strong>5    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet,
        <br/>
        <input type="text" disabled="true" style="background-color:#AAAAFF; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Praesent nunc eros, imperdiet vitae facilisis
        eu, lobortis vitae lorem. Mauris et diam eros. Fusce ac posuere nisi. Sed ut pharetra velit, ac malesuada leo. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
</div>