<div style="font-family: courier new">

    <h2>B: Proprietorship Register</h2>
    <h4>Title absolute</h4>

    <p>
        <strong>1    </strong>
        (14.02.2015) PROPRIETOR: BARRY CHEESE of 23 Sandwich Road, Plymouth PL1 234.
    </p>

    <p>
        <strong>2    </strong>
        (14.02.2015) The price, other than rents, stated to have been paid on the grant of the lease was £234,850.
    </p>

    <p>
        <strong>3    </strong>
        (14.02.2015) RESTRICTION: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis iaculis enim. In porttitor ante
        nec dolor pretium porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. Morbi tempus nisl eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>

</div>