<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#s-reg" aria-controls="messages" role="tab" data-toggle="tab">Smart Register</a></li>
        <li role="presentation"><a href="#a-reg" aria-controls="home" role="tab" data-toggle="tab" id="aRegTab">A Register</a></li>
        <li role="presentation"><a href="#b-reg" aria-controls="profile" role="tab" data-toggle="tab" id="bRegTab">B Register</a></li>
        <li role="presentation"><a href="#c-reg" aria-controls="messages" role="tab" data-toggle="tab" id="cRegTab">C Register</a></li>
        <li role="presentation"><a href="#supplementary" aria-controls="supplementary" role="tab" data-toggle="tab">Supplementary</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- The contents of these three tabs will eventually be loaded dynamically but for now are hardcoded-->
        <div role="tabpanel" class="tab-pane fade in active" id="s-reg" style="padding-left:5px; padding-right:5px">
            {% include andy_s_reg.html %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="a-reg" style="padding-left:5px; padding-right:5px">
            {% include andy_a_reg.html %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="b-reg" style="padding-left:5px; padding-right:5px">
            {% include andy_b_reg.html %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="c-reg" style="padding-left:5px; padding-right:5px">
            {% include andy_c_reg.html %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="supplementary" style="padding-left:5px; padding-right:5px">
            {% include andy_supplementary.html %}
        </div>
    </div>
</div>

