<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#b-reg" aria-controls="profile" role="tab" data-toggle="tab" id="bRegTab">B Register</a></li>
        <li role="presentation"><a href="#c-reg" aria-controls="messages" role="tab" data-toggle="tab" id="cRegTab">C Register</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="b-reg" style="padding-left:5px; padding-right:5px">
            {% include andy_b_reg_updated.html %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="c-reg" style="padding-left:5px; padding-right:5px">
            {% include andy_c_reg_updated.html %}
        </div>
    </div>
</div>

