<div style="font-family: courier new">

    <h2>A: Property Register</h2>
    <h4>CITY OF PLYMOUTH</h4>

    <p>
        <strong>1    </strong>
        (14.02.2015) The leasehold land shown edged with red on the plan of the above title filed at the registry and being
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="42, Awesome Close, Smashingtown (AW35 0ME)">
    </p>

    <p>
        <strong>2    </strong>
        (14.02.2015) The title includes any legal easements referred to in clause LR11.1 of the registered lease but is
        subject to any rights that are granted or reserved by the lease and affect the registered land.
    </p>
    <p>
        NOTE: The right granted at clause (3) of the second schedule is included in this registration only in so far as the
        Private Accessway falls within title
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="DN123456">
    </p>

    <p>
        <strong>3    </strong>
        (14.02.2015) A conveyance of the freehold estate in the land in this title and other land dated
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="13th October 1878">
        <br/>
        made between (1)
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="the Devon and Cornwall Police Authority">
        <br/>
        (Vendors) and (2)
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Devon County Council">
        <br/>(Purchaser) contains the following provision:-
    </p>
    <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut vulputate erat, a placerat ante. Nullam
        tincidunt sem ut risus eleifend interdum. Duis ac turpis id quam aliquam ullamcorper in eget nibh. Aenean ornare nibh
        id diam hendrerit eleifend. Nam id finibus nunc. Pellentesque consectetur orci ultricies suscipit porttitor. Cras
        suscipit tristique mauris, non luctus ex. Praesent efficitur urna non enim vehicula, vel iaculis quam tristique."
    </p>
    <p>
        NOTE: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut vulputate erat, a placerat ante.
    </p>

    <p>
        <strong>4    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Proin quis iaculis enim. In porttitor ante
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="nec dolor pretium">
        <br/>
        porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Morbi tempus nisl">
        <br/>
        eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>

    <p>
        <strong>5    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Proin quis iaculis enim. In porttitor ante
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="nec dolor pretium">
        <br/>
        porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Morbi tempus nisl">
        <br/>
        eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>

    <p>
        <strong>6    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Proin quis iaculis enim. In porttitor ante
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="nec dolor pretium">
        <br/>
        porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Morbi tempus nisl">
        <br/>
        eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>

    <p>
        <strong>7    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Proin quis iaculis enim. In porttitor ante
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="nec dolor pretium">
        <br/>
        porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Morbi tempus nisl">
        <br/>
        eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>

    <p>
        <strong>8    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Proin quis iaculis enim. In porttitor ante
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="nec dolor pretium">
        <br/>
        porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Morbi tempus nisl">
        <br/>
        eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>

    <p>
        <strong>9    </strong>
        (14.02.2015) Lorem ipsum dolor sit amet, <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="consectetur adipiscing elit">
        <br/>
        . Proin quis iaculis enim. In porttitor ante
        <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="nec dolor pretium">
        <br/>
        porttitor. Integer accumsan augue tellus, et varius sapien accumsan vitae. Vestibulum at ex et
        velit euismod consequat id sit amet mauris. Ut consequat lorem sem, et tincidunt quam lacinia in. Sed malesuada ut
        nibh mattis imperdiet. Vivamus vulputate interdum fringilla. Aenean faucibus ante quis risus euismod vehicula.
        Vivamus vulputate lobortis tincidunt. <br/>
        <input type="text" style="background-color:#FFAAAA; width:100%" value="Morbi tempus nisl">
        <br/>
        eu lectus auctor hendrerit. Nulla sollicitudin eros a
        congue ullamcorper.
    </p>
</div>