<div style="font-family: courier new">

    <h2>A: Property Register</h2>
    <h4>CITY OF PLYMOUTH</h4>

    <p>
        <strong>1    </strong>
        (14.02.2015) The leasehold land shown edged with red on the plan of the above title filed at the registry and being
        816, Lovecraft Close, Arkham (AK4 7PP).
    </p>

    <p>
        <strong>2    </strong>
        (14.02.2015) The title includes any legal easements referred to in clause LR11.1 of the registered lease but is
        subject to any rights that are granted or reserved by the lease and affect the registered land.
    </p>
    <p>
        NOTE: The right granted at clause (3) of the second schedule is included in this registration only in so far as the
        Private Accessway falls within title DN123456
    </p>

    <p>
        <strong>3    </strong>
        (14.02.2015) A conveyance of the freehold estate in the land in this title and other land dated 13th October 1878 made
        between (1) Arkham Mansions and Outbuildings (Vendors) and (2) The Cult of Yith (Purchaser) contains the
        following provision:-
    </p>
    <p>
        "Please do not perform ritual sacrifice on this land without the proper permission forms, signed in triplicate.
        Doing so displeases our dread lord Cthulhu."
    </p>
</div>