<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    function showAReg() {
        document.getElementById('aRegTab').click();
    }

    function showBReg() {
        document.getElementById('bRegTab').click();
    }

    function showCReg() {
        document.getElementById('cRegTab').click();
    }

    function addNotes(comments){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd='0'+dd
        }

        if(mm<10) {
            mm='0'+mm
        }

        today = dd + '/' + mm+ '/' + yyyy;

        oldComments = document.getElementById('pointsArising').value;
        newComments = oldComments + "\r\r" + today + "\r" + "Test User: " + comments;

        document.getElementById('pointsArising').value = newComments;
        document.getElementById('newComments').value = '';
    }

    function submitActions() {

        if (document.getElementById('review').checked) {

            window.location.href = '{{ site.baseurl }}/andy/confirmsimple/';

        } else if (document.getElementById('hold').checked) {

            if (document.getElementById('holdTime').value == "") {
                alert("please enter a number of days to hold the application for");
            } else {
                alert("application will be held for " + document.getElementById('holdTime').value + " days");
                window.location.href = '{{ site.baseurl }}/andy/getwork/';
            }

        } else if (document.getElementById('reassign').checked) {

            if (document.getElementById('assignTo').value == "") {
                alert("please enter a user or team to reassign this case to");
            } else {
                window.location.href = '{{ site.baseurl }}/andy/reassignsimple/';
            }

        } else {

            alert("You must select a processing option or cancel");

        }
    }
</script>
