<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Land Registry Casework</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/#"><i class="fa fa-home fa-fw"></i> Home</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-list-ul fa-fw"></i> Case Queue <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> My Cases</a></li>
            <li><a href="#"><i class="fa fa-users fa-fw"></i> My Team</a></li>
            <li><a href="#"><i class="fa fa-building fa-fw"></i> My Office</a></li>
          </ul>
        </li>
        -->
        <!-- <li><a href="#"><i class="fa fa-sliders fa-fw"></i> Work Allocation</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user-secret"></i> Version <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-glass" style="color:green"></i> Carrie</a></li>
            <li><a href="{{ site.baseurl }}/casework-1/"><i class="fa fa-rebel" style="color:red"></i> Simon</a></li>
            <li><a href="{{ site.baseurl }}/andy/getwork/"><i class="fa fa-rocket" style="color:pink"></i> Wandy</a></li>
            <li><a href="{{ site.baseurl }}/andy/getwork2/"><i class="fa fa-car" style="color:#999999"></i> Wandy alt</a></li>
            <li><a href="{{ site.baseurl }}/queeny/getwork/"><i class="fa fa-star" style="color:purple"></i> Queeny</a></li>
            <li><a href="{{ site.baseurl }}/neil/getwork/"><i class="fa fa-empire" style="color:blue"></i> Neil</a></li>
            <li><a href="{{ site.baseurl }}/teamhelp/"><i class="fa fa-question"></i> Help</a></li>
          </ul>
        </li> -->
      </ul>
     <!--  <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a></li>
      </ul> -->
    </div><!--/.nav-collapse -->
  </div>
</nav>
